.layout {
  display: grid;
  grid-template-columns: 196px 1fr 16px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: grid-template-columns var(--transition-base);
}

.layout.sidebarCollapsed {
  grid-template-columns: 64px 1fr 16px;
}

.main {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
  background-color: var(--color-user-bg);
  margin-bottom: var(--spacing-8);
} 